# See http://help.github.com/ignore-files/ for more about ignoring files.
# dependencies
# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db
.editorconfig
debug.log

# python
./demo/__pycache__
./migrations/__pycache__
./mysite/__pycache__
./xcx_interface/__pycache__
./xcx_interface/config/__pycache__
./xcx_interface/controller/__pycache__
./xcx_interface/migrations/__pycache__
./xcx_interface/utils/__pycache__